<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" [ngClass]="{'page-sidebar-minified': sidebarMinimized }">

  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">

    <!-- begin sidebar nav -->
    <ul class="nav">
      <li class="nav-profile">
        <div class="info">
          {{agencyTitle}} {{appShTitle}}
          <small>{{appTitle}}</small>
        </div>
      </li>
      <! -- ================== 01.0 Dashboard ============================================================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = 'dashboard'"
          [ngClass]="{'expand': expandedMenu === 'dashboard' }">
        <a href="javascript:">
          <b class="caret pull-right"></b>
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
        <ul class="sub-menu">
          <li routerLinkActive="active">
            <a [routerLink]="['dashboard']">Dashboard</a>
          </li>
        </ul>
      </li>

      <! -- ================== 02.0 Units ============================================================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = 'units'"
          [ngClass]="{'expand': expandedMenu === 'units' }">
        <a href="javascript:">
          <b class="caret pull-right"></b>
          <span class="badge pull-right">817</span>
          <i class="fa fa-building-o"></i>
          <span>Units</span>
        </a>
        <ul class="sub-menu">
          <li routerLinkActive="active">
            <a [routerLink]="['units/offline-units']"><span class="badge pull-left">817</span>&nbsp;Offline Units</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['units/hero']"><span class="badge pull-left">200</span>&nbsp;HERO</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['units/ltr']"><span class="badge pull-left">105</span>&nbsp;L.T.R.</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['units/demand']"><span class="badge pull-left">38</span>&nbsp;Demand & Projections</a>
          </li>
        </ul>
      </li>

      <! -- ================== 03.0 Edit Demand & Projections ============================================================= -->
      <li routerLinkActive="active">
        <a ui-sref="app.editDemand.edit"><i class="fa fa-edit"></i> <span>Edit Demand & Projections</span></a>
      </li>

      <! -- ================== 04.0 IVC ============================================================= -->
      <li routerLinkActive="active" routerLinkActive="active">
        <a ui-sref="app.ivc"><i class="fa fa-calendar-check-o"></i> <span>Intake/Vacancy Control</span></a>
      </li>

      <! -- ================== 05.0 Reports ============================================================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = 'reports'"
          [ngClass]="{'expand': expandedMenu === 'reports' }">
        <a href="javascript:">
          <b class="caret pull-right"></b>
          <i class="fa fa-bar-chart"></i>
          <span>Reports </span>
        </a>
        <ul class="sub-menu">
          <li routerLinkActive="active">
            <a [routerLink]="['/reports/general']">General Reports</a>
          </li>
          <li class="has-sub" routerLinkActive="active" ng-class="{active:$state.includes('app.reports')}">
            <a href="javascript:"><b class="caret pull-right"></b> Other Reports</a>
            <ul class="sub-menu">
              <li routerLinkActive="active">
                <a [routerLink]="['/reports/all']">Report All</a>
              </li>
              <li routerLinkActive="active">
                <a [routerLink]="['/reports/v1']">Report 1</a>
              </li>
              <li routerLinkActive="active">
                <a [routerLink]="['/reports/v2']">Report 2</a>
              </li>
              <li routerLinkActive="active">
                <a [routerLink]="['/reports/v3']">Report 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <! -- ================== 09.0 App Settings ============================================================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = 'settings'"
          [ngClass]="{'expand': expandedMenu === 'settings' }">
        <a href="javascript:">
          <b class="caret pull-right"></b>
          <i class="fa fa-cogs"></i>
          <span>App Settings</span>
        </a>
        <ul class="sub-menu">
          <li routerLinkActive="active">
            <a [routerLink]="['/settings/general']">General Settings</a>
          </li>
        </ul>
      </li>

      <! -- ================== 10.0 App Help ============================================================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = 'help'"
          [ngClass]="{'expand': expandedMenu === 'help' }">
        <a href="javascript:">
          <b class="caret pull-right"></b>
          <i class="fa fa-life-buoy"></i>
          <span>App Help</span>
        </a>
        <ul class="sub-menu">
          <li routerLinkActive="active">
            <a [routerLink]="['/help/general']">General Help</a>
          </li>
        </ul>
      </li>
      <!-- begin sidebar minify button -->
      <li>
        <a href="javascript:"
           (click)="sidebarMinimized = !sidebarMinimized;" 
           class="sidebar-minify-btn">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>

      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->
