.sidebar {
  background: #2d353c;
  height: 100vh;
}

.sidebar .sub-menu > li > a:before {
  content: '\25CB';
  font-family: Arial;
  position: absolute;
  left: 0;
  font-size: 14px;
  color: #889097;
  top: 50%;
  margin-top: -10px;
  margin-left: -7px;
}