<div class="app">
  <div *ngIf="authenticated | async"
       class="app-header">
    <cd-header></cd-header>
  </div>
  <div class="app-section">
    <div *ngIf="authenticated | async"
         class="app-nav">
      <cd-sidebar [version]="version$"
                  [loading]="loading$"
                  [error]="error$"></cd-sidebar>
    </div>
    <div class="app-content">
      <div id="content" class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
