#header {
  background-color: #263E53;
  border: 1px black;
  z-index: 1020;
  align-items: center;

  .header-nav-left {
    flex-grow: 1;
    min-width: 310px;
  }

  .header-nav-right {
    align-items: center;
  }
}

label {
  cursor: pointer;
  line-height: 20px;
  padding: 0 15px;
  margin: 0;
  align-items: center;
}

/* Checkbox/Radio input hack */
input[type=radio].radio-hack {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Toggled State */
input[type=radio].radio-hack:checked ~ div,
input[type=radio].radio-hack:checked ~ ul {
  display: block;
}
